*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #164C45;
}

.sidebar{
    /* text-decoration: underline; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: silver;
    top: 0;
    right: 0;
    padding: 5px;
    width: 15%;
    /* height: 85vh; */
    background: black;
    font-size: 50px;
}

.sidebar input{
    height: 35px;
    width: 80%;
}

.rocket{
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    top: 0;
    right: 0;
    width: 15%;
    /* height: 85vh; */
    background: black;
    font-size: 50px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 5px;
    border: #E3C75F dotted 5px;
}

nav p {
    font-size: 40px;
    color: #bbc7c6;
}

main {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    border: silver solid;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E3C75F dotted 5px;
    padding: 5px;
    margin: 30px;
    width: 100%;
    height: 30vh;
    font-size: 100px;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E3C75F dotted 5px;
    padding: 5px;
    margin: 30px;
    width: 100%;
    height: 30vh;
    font-size: 100px;

}
